<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    >

    <title>Mangae users</title>
</head>
<body>
<h2 class="text-center pt-2 m-5">This is users page is </h2>
<div class="container-fluid text-center">
<div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>firstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${listUser}">
        <tr>
            <td>[[${user.id}]]</td>


                <td>[[${user.firstName}]]</td>


                <td>[[${user.lastName}]]</td>


                <td>[[${user.email}]]</td>
            <td>Edit</td>
            </tr>

        </th:block>

        </tbody>
    </table>
</div>
</div>

</body>
</html>